body{
    margin: 0;
    padding: 0;
    background-image: url('/img/background-Image.jpg');
    background-size:cover;
    background-position: center center;
}

header{
    text-align:center;
}
.header{
 
    background-color: aqua;
}

.headerOne span .caminar{
    font-size: 4rem;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
}

.headerOne span .name {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.65);
    line-height:-80px;
}

.headerOne span a:hover{
    text-decoration: none;
    color:none;
}

/* For the first Section */

.sectionOne{
    margin-top:30px;
}

.headerTwo{
    background: #fff;
    padding:30px;
}

article{
    background: #f4f4f4;
    padding: 70px;
}

.content{

    background-color: blueviolet;
}

.sub-content{
    padding:100px;
    background:#1E1f23;
}

.headerThree{
    background:#121315; 
    padding: 20px;
    text-align:center;
}

hr{
    width:15%;
    background: silver;
}
.sub-text1{
    background: #f5f5f5;
    padding: 90px;
}
.sub-text2{
    background: #1E1f23;
    color:#dfdfdf;
    padding: 90px;
}
.sub-text3{
    background: #f5f5f5;
    padding: 90px;
}

/* For the Footer */
footer{
    text-align: center;
    color:#bbbbbb;
    margin: 60px 0px;
}
footer a{
    color:#bbbbbb;
    text-decoration: underline;
}
footer a:hover{
    color:rgba(255, 255, 255, 0.65);
    text-decoration: none;
}

